<% @rounds.each do |round| %>
  <h2><%= round.name %></h2>

  <% if round.games.any? %>
    <% round.games.each do |game| %>
      <div id="<%= "game-#{game.id}" %>">
        <h3><%= "#{game.team_one.school} (#{game.team_one.seed}) - #{game.team_two.school} (#{game.team_two.seed})" %></h3>
        <p>
          <%= game.start_time.strftime("%B %e, %Y at %l:%M %P")  %> (in about <%= distance_of_time_in_words_to_now game.start_time %>).
        </p>
      </div>
    <% end %>
  <% else %>
    <p>
      There are no games presently scheduled.
    </p>
  <% end %>
<% end %>
