<header>
  <h1>
    Game details
  </h1>
  <p>Start time: <%= @game.start_time.strftime("%B %e, %Y at %l:%M %P")  %> (in about <%= distance_of_time_in_words_to_now @game.start_time %>).</p>
</header>

<table id="game" class="table table-hover">
  <tr>
    <th>School</th>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Overall Seed</th>
  </tr>
  <% [@game.team_one, @game.team_two].each do |team| %>
    <tr>
      <td><%= team.school %></td>
      <td><%= team.name %></td>
      <td><%= team.wins %></td>
      <td><%= team.losses %></td>
      <td><%= team.seed %></td>
    </tr>
  <% end %>
</table>
